{{ partial "header.html" . }}
<main>
    <div class="intro">
        <h1>Hi! I'm <strong>Miguel Molina.</strong></h1>
        <div class="introduction">
            <figure>
                <img src="https://pbs.twimg.com/profile_images/1331161599428730881/bxjbtX-Z_400x400.jpg" alt="Portrait" />
            </figure>
            <div class="description">
                <p class="emoji-text"><img class="emoji" src="/img/emoji/technologist.png" alt="male technologist emoji" /><span>I'm a software developer at <a href="https://gitsight.com" alt="Gitsight">Gitsight</a>.</span></p>
                <p class="emoji-text"><img class="emoji" src="/img/emoji/eyes.png" alt="eyes emoji" /><span>You can find me on <a href="https://github.com/erizocosmico" alt="GitHub">GitHub</a> and <a href="https://twitter.com/mutableref" alt="Twitter">twitter</a>.</span></p>
                <p class="emoji-text"><img class="emoji" src="/img/emoji/wave.png" alt="waving hand emoji" /><span>Feel free to <a href="mailto:miguel@molina.xyz" alt="drop me an email">drop me an email</a> and say hi!</span></p>
            </div>
        </div>
    </div>

    {{ if gt (len .Site.RegularPages) 0 }}
    <div class="recent-posts">
        <h1 class="emoji-text"><img class="emoji" src="/img/emoji/write.png" alt="writing hand emoji" /><span>Latest posts</span></h1>
        
        <ul class="post-list">
            {{ range first 5 .Site.RegularPages }}
            <li>
                <span class="date">{{.Date.Format "02 Jan 2006"}}</span>
                <a href="{{.Permalink}}" title="{{.Title}}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>

        {{ if gt (len .Site.RegularPages) 5 }}
        <div class="buttons">
            <a href="/posts/" class="pill-btn" title="See all posts">See all posts</a>
        </div>
        {{ end }}
    </div>
    {{ end }}
</main>
{{ partial "footer.html" .}}